@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <p class="lead">Formulaire de declaration d'incidents.</p>

</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("Incidents en cours", "Index")</li>
        <li>@Html.ActionLink("Incidents clôturés", "Index")</li>
        <li>@Html.ActionLink("Déclarez un incident", "Create", "TICKETS")</li>
        <li>@Html.ActionLink("Deconnexion", "Index", "Home")</li>
    </ul>
</div>