@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Application de gestion de tickets.</p>

</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("Incidents en cours", "About")</li>
        <li>@Html.ActionLink("Incidents clôturés", "About")</li>
        <li>@Html.ActionLink("Déclarez un incident", "Create","TICKETS")</li>
    </ul>
</div>
