<!--
    Page de redirection vers les fonctionnalités administrateur ou utilisateur
-->

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Application de gestion de tickets</p>

</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Page utilisateur", "User")</li>
        <li>@Html.ActionLink("Page administrateur", "Administrateur")</li>
        

    </ul>
</div>
